label {
  text-align: left;
  font-family: "Merriweather", "Times New Roman", Times, serif;
  font-weight: 700;
  color: #2d2e2e;
  line-height: 1.22222;
  font-size: 14px;
  margin-top: 20px;
}

input, textarea {
  border: 1px solid #b1b1b1;
  color: #212121;
  background: #fff;
  border-radius: 0;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  border-color: #f54b0f;
  box-shadow: none;
}

