@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#orangeButton {
  background-color: #c97f30 !important;
  border-color: #c97f30 !important;
  border-radius: 0;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  color: #fff;
  border: 1px solid transparent;
}


