label {
    text-align: left;
    font-family: "Merriweather", "Times New Roman", Times, serif;
    font-weight: 700;
    color: #2d2e2e;
    line-height: 1.22222;
    font-size: 14px;
    margin-top: 20px;
  }
  
  input, textarea {
    border: 1px solid #b1b1b1;
    color: #212121;
    background: #fff;
    border-radius: 0;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
    border-color: #f54b0f;
    box-shadow: none;
  }
  
  #orangeButton {
    background-color: #c97f30 !important;
    border-color: #c97f30 !important;
    border-radius: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    border: 1px solid transparent;
  }
  
  #greenButton {
    border-radius: 0;
    font-family: "Open Sans", Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    color: #fff;
    background-color: #199e3d !important;
    border: 1px solid transparent;
    border-color: #199e3d;
  }